.md {
    ion-segment {
        width: 60%;
        margin: auto;
    }
}

ion-header {
    ion-toolbar {
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --background: var(--ion-color-dark-shade);
        ion-title{
            font-size: larger;
            font-weight: 700;
            padding-bottom: 2rem;
        }
        ion-segment {
            margin-top: 3rem;
            margin-bottom: -1rem;
            border-radius: 20px;
            --background: var(--ion-color-dark-tint);
            ion-segment-button {
                --color: var(--ion-color-white);
                --color-checked: var(--ion-color-dark-tint);
                --indicator-color: var(--ion-color-primary);
            } 
              ion-segment-button.ios::part(indicator-background) {
                border-radius: 20px;
              }
        }
        ion-searchbar.custom {
            --background: rgba(34, 36, 40, 0.900);
            --color: #ebebeb;
            --placeholder-color: #868686;
            --icon-color: #868686;
            --clear-button-color: #868686;
            --border-radius: 3vh;
          }
          
          ion-searchbar.ios.custom {
            --cancel-button-color: #868686;
          }
          
          ion-searchbar.md.custom {
            --cancel-button-color: #868686;
          }
    }
}

ion-content {
    --background: var(--ion-color-dark-shade);
    
    ion-list {
        padding: 0 0 0 0;
        border-radius: 3vh 3vh 0 0;
        background: var(--ion-color-dark);
        height: 100%;
        ion-item {
            ion-label {
                font-size: 1.1rem !important;
            }
        }
    }
}