<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-title color="secondary" mode="ios">Transactions</ion-title>
    <ion-segment mode="ios" [value]="segmentValue">
      <ion-segment-button value="in" content-id="in">
        <ion-label>In-flow</ion-label>
      </ion-segment-button>
      <ion-segment-button value="out" content-id="out">
        <ion-label>Out-flow</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-searchbar placeholder="Name, Amount, etc" animated="true" show-clear-button="always" class="custom" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

  
  <ion-list class="transactions" *ngIf="transactionsIn.length > 0 && transactionsOut.length > 0">
      <ion-segment-view>
        <ion-segment-content id="in">
          <ion-item-group>
            @for (transaction of transactionsIn; track transaction) {
              <ion-item lines="full">
                <ion-thumbnail slot="start" class="ion-text-center">
                  <img [src]="'assets/imgs/' + (transaction?.amount >= 0 ? 'up-right.png' : 'down-left-arrow.png')" />
                </ion-thumbnail>
                <ion-label>
                  <ion-text color="primary">{{transaction?.to}}</ion-text>
                  <p>
                    <ion-text>
                      {{transaction?.date | date: 'MMM d, y'}}
                    </ion-text>
                  </p>
                </ion-label>
                <ion-text slot="end" color="primary">
                  {{transaction?.amount >= 0 ? '₹' + transaction?.amount : '-₹' + (transaction?.amount * (-1))}}
                </ion-text>
              </ion-item>
            }
          </ion-item-group>
        </ion-segment-content>
        <ion-segment-content id="out">
          <ion-item-group>
            <ion-item lines="full" *ngFor="let transaction of transactionsOut">
              <ion-thumbnail slot="start" class="ion-text-center">
                <img [src]="'assets/imgs/' + (transaction?.amount >= 0 ? 'up-right.png' : 'down-left-arrow.png')" />
              </ion-thumbnail>
              <ion-label>
                <ion-text color="primary">{{transaction?.to}}</ion-text>
                <p>
                  <ion-text>
                    {{transaction?.date | date: 'MMM d, y'}}
                  </ion-text>
                </p>
              </ion-label>
              <ion-text slot="end" color="primary">
                {{transaction?.amount >= 0 ? '₹' + transaction?.amount : '-₹' + (transaction?.amount * (-1))}}
              </ion-text>
            </ion-item>
          </ion-item-group>
        </ion-segment-content>
      </ion-segment-view>
  </ion-list>



</ion-content>
