<ion-toolbar>
    <ion-avatar slot="start">
      <img src="assets/imgs/img.png" />
    </ion-avatar>
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text color="primary">Welcome</ion-text>
        <p><ion-text color="white"><strong>Nikhil Ag.</strong></ion-text></p>
      </ion-label>
    </ion-title>
    <ion-button slot="end" shape="round" fill="clear">
      <svg xmlns="http://www.w3.org/2000/svg" slot="icon-only" width="34" height="34" viewBox="0 0 24 24">
        <path fill="currentColor" d="M12.75 6a.75.75 0 0 0-1.5 0v4a.75.75 0 0 0 1.5 0z" />
        <path fill="currentColor" fill-rule="evenodd" d="M4.25 9a7.75 7.75 0 1 1 15.5 0v.704c0 .697.206 1.378.593 1.958l1.148 1.723c1.334 2 .316 4.718-2.003 5.35q-1.133.309-2.284.523l-.002.005c-.769 2.052-2.824 3.487-5.202 3.487s-4.433-1.435-5.202-3.487l-.002-.005a29 29 0 0 1-2.284-.523c-2.319-.632-3.337-3.35-2.003-5.35l1.148-1.723a3.53 3.53 0 0 0 .593-1.958zm4.373 10.537a28.5 28.5 0 0 0 6.753 0c-.71 1.021-1.947 1.713-3.376 1.713s-2.666-.692-3.377-1.713M12 2.75A6.25 6.25 0 0 0 5.75 9v.704a5.03 5.03 0 0 1-.845 2.79l-1.148 1.723a2.02 2.02 0 0 0 1.15 3.071a26.96 26.96 0 0 0 14.187 0a2.02 2.02 0 0 0 1.15-3.07l-1.15-1.724a5.03 5.03 0 0 1-.844-2.79V9A6.25 6.25 0 0 0 12 2.75" clip-rule="evenodd" />
      </svg>
    </ion-button>
  </ion-toolbar>

<ion-content>
  <div class="main-container">
    <ion-row class="banners">
      <swiper [config]="bannerConfig">
        <ng-template swiperSlide *ngFor="let account of accounts">
          <div class="account-card" align="center">
            <ion-label>
              <span class="balance-label">Total Balance</span>
              <p class="acc-amt"><ion-text>{{account?.balance}} <span>{{account?.currency}}</span></ion-text></p>
              <span class="balance-label">Acc No. {{account.acc_no}}</span>
            </ion-label>
          </div>
        </ng-template>
      </swiper>
      <div class="ion-text-center feature-list" *ngIf="features.length > 0">
        <div>
          <ion-button slot="icon-only" fill="clear">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 10h4" />
                <path stroke-width="1.5" d="M20.833 11h-2.602C16.446 11 15 12.343 15 14s1.447 3 3.23 3h2.603c.084 0 .125 0 .16-.002c.54-.033.97-.432 1.005-.933c.002-.032.002-.071.002-.148v-3.834c0-.077 0-.116-.002-.148c-.036-.501-.465-.9-1.005-.933c-.035-.002-.076-.002-.16-.002Z" />
                <path stroke-width="1.5" d="M20.965 11c-.078-1.872-.328-3.02-1.137-3.828C18.657 6 16.771 6 13 6h-3C6.229 6 4.343 6 3.172 7.172S2 10.229 2 14s0 5.657 1.172 6.828S6.229 22 10 22h3c3.771 0 5.657 0 6.828-1.172c.809-.808 1.06-1.956 1.137-3.828" />
                <path stroke-linecap="round" stroke-width="1.5" d="m6 6l3.735-2.477a3.24 3.24 0 0 1 3.53 0L17 6" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.991 14h.01" />
              </g>
            </svg>
          </ion-button>
          <ion-label>Top-up</ion-label>
        </div>
        <div>
          <ion-button slot="icon-only" fill="clear">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor">
                <path d="M14 2.2q-.97-.198-2-.2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10q-.002-1.03-.2-2" />
                <path d="M12 9c-1.105 0-2 .672-2 1.5s.895 1.5 2 1.5s2 .672 2 1.5s-.895 1.5-2 1.5m0-6c.87 0 1.612.417 1.886 1M12 9V8m0 7c-.87 0-1.612-.417-1.886-1M12 15v1m4.998-8.998l4.176-4.178m.824 3.656l-.118-3.09c0-.729-.435-1.183-1.228-1.24l-3.124-.147" />
              </g>
            </svg>
          </ion-button>
          <ion-label>Send</ion-label>
        </div>
        <div>
          <ion-button slot="icon-only" fill="clear">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor">
                <path d="M14 2.222q-.97-.198-2-.2c-5.523 0-10 4.472-10 9.989S6.477 22 12 22s10-4.472 10-9.989q-.002-1.027-.2-1.998" />
                <path d="M12 9.014c-1.105 0-2 .671-2 1.499c0 .827.895 1.498 2 1.498s2 .67 2 1.498s-.895 1.499-2 1.499m0-5.994c.87 0 1.612.417 1.886 1m-1.886-1v-.999m0 6.993c-.87 0-1.612-.417-1.886-1m1.886 1v.999M21.995 2L17.82 6.174m-.824-3.653l.118 3.088c0 .728.435 1.182 1.228 1.239l3.124.147" />
              </g>
            </svg>
          </ion-button>
          <ion-label>Request</ion-label>
        </div>
        <div>
          <ion-button slot="icon-only" fill="clear">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 8.57c0-1.197.482-1.93 1.48-2.486l4.11-2.287C9.743 2.6 10.82 2 12 2s2.257.6 4.41 1.797l4.11 2.287C21.517 6.64 22 7.373 22 8.57c0 .324 0 .487-.035.62c-.186.7-.821.811-1.434.811H3.469c-.613 0-1.247-.11-1.434-.811C2 9.056 2 8.893 2 8.569M11.996 7h.009M4 10v8.5M8 10v8.5m8-8.5v8.5m4-8.5v8.5m-1 0H5a3 3 0 0 0-3 3a.5.5 0 0 0 .5.5h19a.5.5 0 0 0 .5-.5a3 3 0 0 0-3-3" color="currentColor" />
            </svg>
          </ion-button>
          <ion-label>Transfer</ion-label>
        </div>
      </div>
    </ion-row>
  </div>

    <ion-list class="transactions" *ngIf="transactions.length > 0">
      <ion-list-header>
        <ion-title color="light">Recently Transactions</ion-title>
        <ion-text color="primary" [routerLink]="['/tabs/transactions']"><span>View all</span></ion-text>
      </ion-list-header>
      <ion-item-group>
        <ion-item lines="full" *ngFor="let transaction of transactions">
          <ion-thumbnail slot="start" class="ion-text-center">
            <img [src]="'assets/imgs/' + (transaction?.amount >= 0 ? 'up-right.png' : 'down-left-arrow.png')" />
          </ion-thumbnail>
          <ion-label>
            <ion-text color="light">{{transaction?.to}}</ion-text>
            <p>
              <ion-text>
                {{transaction?.date | date: 'MMM d, y'}}
              </ion-text>
            </p>
          </ion-label>
          <ion-text slot="end" color="primary">
            {{transaction?.amount >= 0 ? '₹' + transaction?.amount : '-₹' + (transaction?.amount * (-1))}}
          </ion-text>
        </ion-item>
      </ion-item-group>
    </ion-list>
</ion-content>
