<ion-toolbar>
  <ion-title color="light">Cards</ion-title>
</ion-toolbar>

<ion-content>

  <div class="bg_circle"></div>

  <ion-row>
    <swiper [config]="bannerConfig">
      <ng-template swiperSlide *ngFor="let card of cards">
        <div class="card_details">
          <ion-img [src]="card?.company_img" />
          <div align="center">
            <ion-label>
              <div class="acc-amt"><ion-text color="white">{{card?.card_no}}</ion-text></div>
              <span>{{card?.card_holder}}</span>
            </ion-label>    
          </div>
          <p class="exp ion-text-start"><ion-text color="white">Currency: {{card?.currency}}</ion-text></p>
        </div>
      </ng-template>
    </swiper>
  </ion-row>

  <ion-list class="transactions">
    <ion-list-header>
      <ion-label color="light">Settings</ion-label>
    </ion-list-header>
    <ion-item-group>
      <ion-item lines="full">
        <ion-label>
          Enable Card 
        </ion-label>
        <ion-toggle aria-label="Primary toggle" slot="end" mode="ios" color="primary" [checked]="true"></ion-toggle>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item [button]="true" lines="full" mode="ios" detail>
        <ion-label color="white">
          Change Pin 
        </ion-label>
      </ion-item>
    </ion-item-group>
    
  </ion-list>

</ion-content>
