<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="cosmic-title">
      Finvia: Blackhole
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="cosmic-title">Finvia: Blackhole</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="cosmic-title">Welcome to the Space Age of Finance</strong>
    <p class="subtitle">Your journey begins here. Explore the universe of possibilities with <span style="color:var(--color-primary)">Finvia</span>.</p>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
