
ion-toolbar {
  --background: var(--ion-color-dark-shade);
  --padding-top: 5vh;
  --padding-bottom: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
  ion-title {
    text-align: center;
    max-width: 40vh;
    ion-label {
      ion-text {
        font-size: 1rem;
      }
      p {
        ion-text {
          font-size: 1.3rem !important;
        }
      }
    }
  }
  ion-avatar {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid var(--ion-color-primary);
    img {
      max-width: 100%;
    }
  }
}

ion-content {
    scroll-behavior: smooth; // Enables smooth scrolling

  --background: var(--ion-color-dark-shade);
  div.main-container {
    margin: 0 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 4vh;
    background: var(--ion-color-dark);
    ion-row.banners {
      position: relative;
      margin: 4vh 0 0;
      swiper {
          padding: 1.5rem 0;
          background: var(--ion-color-primary);
          border-radius: 4vh;
          div {
          ion-label {
            p.acc-amt {
              margin: 1rem 0;
              font-size: 3rem;
              font-weight: 700;
              color: #272227;
              span {
                font-size: 1.6rem;
                font-weight: 500;
                color: #272227;
              }
            }
          }
        }
      }
    }
    div.feature-list {
      padding: 1rem 1.5rem;
      border-radius: 0 0 4vh 4vh;
      width: 100% !important;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ion-button {
          --border-radius: 99999rem;
          border-radius: 99999rem;
          height: 56px; // Increased height
          width: 56px;  // Increased width
          box-shadow: none;
          background-color: var(--ion-color-dark-tint);
          span {
            color: var(--ion-color-medium);
            transform: scale(1.25);
          }
        }
        ion-label {
          margin-top: 0.5rem;
          font-size: 14px;
          font-weight: 600;
          color: var(--ion-color-medium);
        }
      }
    }
  }
  ion-list {
    margin-top: 6rem;
    padding: 0.5rem 0 0 0;
    border-radius: 3vh 3vh 0 0;
    height: 100%;
    margin-top: 0.825rem;
    ion-item-group {
        max-height: 100%;
        padding-bottom: 90px;
        ion-item {
            ion-label {
                font-size: 1.1rem !important;
            }
        }
    }
}
}

