ion-toolbar {
    --padding-top: 5vh;
    --padding-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
    --background: var(--ion-color-dark-shade);
    ion-title {
        max-width: 40vh;
        ion-label {
            ion-text {
                font-size: 1rem;
            }
            p {
                ion-text {
                    font-size: 1.3rem !important;
                }
            }
        }
    }
}

ion-content {
    --background: var(--ion-color-dark-shade);
    .bg_circle {
        position: absolute;
        width: 33vh;
        height: 33vh;
        left: -8rem;
        top: 7vh;
        border-radius: 50%;
        background: var(--ion-color-primary);
    }

    ion-row {
        margin: 5vh 1rem 6vh 1rem;
        swiper {
            height: 37vh;
            div.card_details {
                width: 100%;
                aspect-ratio: 1.586;
                border-radius: 4vh;
                padding: 0 1.5rem;
                background: rgba(255, 255, 255, 0.05);
                backdrop-filter: blur(30px);
                border: 2px solid rgba(157, 224, 0, 0.2);
                ion-img {
                    align-self: end;
                    height: 1rem;
                    transform: scale(4);
                    margin: 2rem 0 2rem 0;
                }
                ion-label {
                    div.acc-amt {
                        margin: 0.2rem 0;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                    span {
                        color: white;
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                }
                p.exp {
                    font-size: 1rem;
                    font-weight: 500;
                    align-self: start;
                    margin: 2rem 0;
                }
            }
        }
    }

    border-radius: 3vh 3vh 0 0;
    background: var(--ion-color-dark);
    padding-bottom: 4rem;
    ion-list-header {
        padding-inline-start: 0;
    }
    ion-list-header, ion-item {
        ion-label {
            font-size: 1.1rem;
            color: white;
        }
      }
    ion-list-header {
      align-items: center;
      --padding-top: 2rem;
      ion-text{
          font-size: 1rem;
          font-weight: 500;
          text-align: end;
          margin-inline-end: 1.5rem;
      }
    }
    ion-item::part(detail-icon) {
        color: white;
        opacity: 1;
        font-size: 20px;
    }
}