.md {
    ion-segment {
        width: 60%;
        margin: auto;
    }
}

ion-header {
    ion-toolbar {
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --background: var(--ion-color-dark-shade);
        ion-title{
            font-size: larger;
            font-weight: 700;
            padding-bottom: 2rem;
        }
        ion-segment {
            margin-top: 3rem;
            margin-bottom: -1rem;
            border-radius: 20px;
            --background: var(--ion-color-dark-tint);
            ion-segment-button {
                --color: var(--ion-color-white);
                --color-checked: var(--ion-color-dark-tint);
                --indicator-color: var(--ion-color-primary);
            } 
              ion-segment-button.ios::part(indicator-background) {
                border-radius: 20px;
              }
        }
        ion-searchbar.custom {
            --background: rgba(34, 36, 40, 0.900);
            --color: #ebebeb;
            --placeholder-color: #868686;
            --icon-color: #868686;
            --clear-button-color: #868686;
            --border-radius: 3vh;
          }
          
          ion-searchbar.ios.custom {
            --cancel-button-color: #868686;
          }
          
          ion-searchbar.md.custom {
            --cancel-button-color: #868686;
          }
    }
}

ion-content {
    --background: var(--ion-color-dark-shade);
    .bg_circle {
        position: absolute;
        width: 33vh;
        height: 33vh;
        left: -8rem;
        top: 7vh;
        border-radius: 50%;
        background: var(--ion-color-primary);
    }

    ion-row {
        margin: 5vh 1rem 6vh 1rem;
        swiper {
            height: 37vh;
            div.card_details {
                width: 100%;
                aspect-ratio: 1.586;
                border-radius: 4vh;
                padding: 0 1.5rem;
                background: rgba(255, 255, 255, 0.05);
                backdrop-filter: blur(30px);
                border: 2px solid rgba(157, 224, 0, 0.2);
                ion-img {
                    align-self: end;
                    height: 1rem;
                    transform: scale(4);
                    margin: 2rem 0 2rem 0;
                }
                ion-label {
                    div.acc-amt {
                        margin: 0.2rem 0;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                    span {
                        color: white;
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                }
                p.exp {
                    font-size: 1rem;
                    font-weight: 500;
                    align-self: start;
                    margin: 2rem 0;
                }
            }
        }
    }

    border-radius: 3vh 3vh 0 0;
    background: var(--ion-color-dark);
    padding-bottom: 4rem;
    ion-list-header {
        padding-inline-start: 0;
    }
    ion-list-header, ion-item {
        ion-label {
            font-size: 1.1rem;
            color: white;
        }
      }
    ion-list-header {
        ion-label {
            padding-top: 1.5rem;
            padding-inline-start: 1.5rem;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
    ion-item::part(detail-icon) {
        color: white;
        opacity: 1;
        font-size: 20px;
    }
}