/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

/* You can add global styles to this file, and also import other style files */
// @import "tailwindcss";
// @import "../node_modules/flyonui/flyonui.css";
// @import "../node_modules/flyonui/variants.css";


// /* Import Third-party override css */
// @import "../node_modules/flyonui/src/vendor/apexcharts.css"; 
// /* @import "flyonui/src/vendor/flatpickr.css"; */
// /* @import "flyonui/src/vendor/notyf.css"; */
// /* @import "flyonui/src/vendor/datatables.css"; */
// /* @import "flyonui/src/vendor/editor.css"; */
// /* @import "flyonui/src/vendor/fullcalendar.css"; */
// /* @import "flyonui/src/vendor/raty.css"; */
// /* @import "flyonui/src/vendor/waves.css"; */
// @plugin "@iconify/tailwind4";

// @import 'swiper/css/bundle';
@import 'swiper/scss';
@import 'swiper/scss/keyboard';
@import 'swiper/scss/pagination';

@font-face {
    font-family: 'IBM Plex Sans Arabic';
    src: url('./assets/font/IBMPlexSansArabic-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBM Plex Sans Arabic';
    src: url('./assets/font/IBMPlexSansArabic-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBM Plex Sans Arabic';
    src: url('./assets/font/IBMPlexSansArabic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBM Plex Sans Arabic';
    src: url('./assets/font/IBMPlexSansArabic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBM Plex Sans Arabic';
    src: url('./assets/font/IBMPlexSansArabic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBM Plex Sans Arabic';
    src: url('./assets/font/IBMPlexSansArabic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBM Plex Sans Arabic';
    src: url('./assets/font/IBMPlexSansArabic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }


.swiper-pagination-bullet {
    // background-color: var(--ion-color-medium) !important;
    background: rgba(255, 255, 255, 0.33);
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: var(--ion-color-white) !important;
    width: 40px;
    border-radius: 4px;
}

ion-list.history {
    border-radius: 3vh 3vh 0 0;
    background: var(--ion-color-dark);
    padding-bottom: 4rem;
    ion-list-header {
        padding-inline-start: 0;
      }
    ion-modal.ios {
        ion-datetime.ios {
            background: #212429;
            --background-rgb: var(--ion-color-dark-rgb);

            border-radius: 16px;
            box-shadow: rgba(var(--ion-color-dark-rgb), 0.3) 0px 10px 15px -3px;
        }
    }
    ion-list-header, ion-item {
        ion-label {
            font-size: 1.1rem;
            color: white;
        }
      }
    ion-list-header {
      align-items: center;
      --padding-top: 2rem;
      ion-text{
          font-size: 1rem;
          font-weight: 500;
          text-align: end;
          margin-inline-end: 1.5rem;
      }
    }

    ion-item-group {
        padding: 0 3.5vh;
        ion-item {
            font-weight: bold;
            --background: transparent;
            --padding-bottom: 1rem;
            --padding-top: 1rem;
            --padding-start: 0;
            ion-text[slot="end"] {
                font-size: 1rem;
            }
            p {
                font-size: 0.9rem;
                font-weight: normal;
                margin-top: 3px;
            }
            ion-thumbnail {
                height: 6vh;
                width: 6vh;
                border-radius: 10px;
                background: var(--ion-color-dark-tint);
                box-shadow: 0px 3px 6px rgb(3 181 170 / 4%);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-inline-end: 0.5rem;
                img {
                    height: 4vh;
                    width: 4vh;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
            }
        }
    }
}


ion-backdrop {
  background-color: rgba(24, 24, 27, 0.8); 
  backdrop-filter: blur(1rem); 
}

.custom-Alert-single .alert-wrapper {
  border-radius: 4vh;
  background-color: rgba(var(--ion-color-dark-rgb), 0.5);
  backdrop-filter: blur(0.75rem);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding-left: 0.25rem;
  padding-bottom: 0.5rem;
  padding-right: 0.25rem;
}

.custom-Alert-single .alert-title {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: var(--ion-color-white);
  margin-bottom: 0.5rem;
}

.custom-Alert-single .alert-message {
  font-size: 15px;
  color: var(--ion-color-white);
  line-height: 1.625;
}

.custom-Alert-single .alert-button-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.custom-Alert-single .alert-button-confirm {
  padding: 0.35rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.725rem;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-dark-shade);
  transition: all 0.2s ease-in-out;
  text-align: center;
  width: 60%;
}

.custom-Alert-single .alert-button-confirm:hover {
  background-color: var(--ion-color-primary-tint);
}

.custom-Alert-double .alert-wrapper {
  border-radius: 4vh;
  background-color: rgba(var(--ion-color-dark-rgb), 0.5);
  backdrop-filter: blur(0.75rem);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding-left: 0.25rem;
  padding-bottom: 0.5rem;
  padding-right: 0.75rem;
}

.custom-Alert-double .alert-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: var(--ion-color-white);
  margin-bottom: 0.5rem;
}

.custom-Alert-double .alert-message {
  font-size: 15px;
  color: var(--ion-color-white);
  line-height: 1.625;
}

.custom-Alert-double .alert-button-group {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.custom-Alert-double .alert-button {
  padding: 0.35rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.725rem;
  width: 100%;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  transition: all 0.2s ease-in-out;
}

.custom-Alert-double .alert-button-cancel {
  color: var(--ion-color-white);
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--ion-color-medium-shade);
}

.custom-Alert-double .alert-button-confirm {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-dark-shade);
}

.custom-Alert-double .alert-button-confirm:hover {
  background-color: var(--ion-color-primary-tint);
}

